<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.manwiks.maggie" >
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true" >
        <activity
            android:name=".ManageDrawer.AboutUs"
            android:exported="false" />
        <activity
            android:name=".ManageDrawer.ContactUs"
            android:exported="false" />
        <activity android:name=".ManageDrawer.RateUs" />
        <activity android:name=".ManageDrawer.ReportEmergency" />
        <activity
            android:name=".ManageDrawer.CustomerFeedback"
            android:exported="false" />
        <activity
            android:name=".ManageDrawer.OrderHelp"
            android:exported="false" />
        <activity
            android:name=".ManageDrawer.UserProfile"
            android:exported="false" />
        <activity
            android:name=".ManageDrawer.CustomerFavorites"
            android:exported="false" />
        <activity
            android:name=".ManageDrawer.CustomerOders"
            android:exported="false" />
        <activity android:name=".Checkout" />
        <activity
            android:name=".FoodDetailsActivity"/>
        <activity android:name=".CartActivity" />
        <activity android:name=".ProductsActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".PhoneLoginRegistration.PhoneRegisterActivity" />
        <activity android:name=".PhoneLoginRegistration.PhoneLoginActivity" />
        <activity android:name=".EmailLogInRegister.EmailRegisterActivity" />
        <activity android:name=".EmailLogInRegister.EmailLogInActivity" />
        <activity android:name=".SplashScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>